body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

*:focus,
*:focus-visible,
*:active {
  outline: none !important;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent !important;
}

.music-player-panel,
.music-player-panel * {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.music-player-panel ::selection {
  background: transparent !important;
}

.rc-slider {
  z-index: 78;
}
